CRUMB=$(curl -s -u "{{ project.jenkins.user }}:{{ project.jenkins.pass }}" "{{ jenkins_url }}/crumbIssuer/api/xml?xpath=concat(//crumbRequestField,\":\",//crumb)")
curl -H $CRUMB -X POST -u "{{ project.jenkins.user }}:{{ project.jenkins.pass }}" "{{ jenkins_url }}/credentials/store/system/domain/_/createCredentials" \
--data-urlencode 'json={ 
  "": "0",
  "credentials": {
    "scope": "GLOBAL",
    "id": "{{ cred_id }}",
    "username": "{{ username }}",
    "password": "{{ password }}",
    "description": "{{ cred_id }}",
    "privateKeySource": {
      "stapler-class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$DirectEntryPrivateKeySource",
      "privateKey": "{{ private_key }}"
    },
    "stapler-class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey"
  }
}'