[Unit]
Description=Jenkins Agent (JNLP)
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/opt/jenkins
ExecStart=/usr/bin/java -jar /opt/jenkins/agent.jar \
  -jnlpUrl http://{{ project.private_ip }}:8080/computer/{{ project.name }}-agent/slave-agent.jnlp \
  -secret {{ jenkins_agent_secret }} \
  -workDir /opt/jenkins
Restart=always
RestartSec=10
StandardOutput=append:/opt/jenkins/agent.log
StandardError=append:/opt/jenkins/agent-error.log
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
