project:
    name: "{{ project_params.PROJECT_NAME}}"
    private_ip: "{{ project_params.PROJECT_PRIV_IP}}"
    project_path: "{{ project_params.PROJECT_PATH }}"

    jenkins:
        user: "{{ project_params.JENKINS_USER}}"
        pass: "{{ project_params.JENKINS_PASS}}"
    
    aws:
        region: "{{ project_params.AWS_REGION}}"
        create_s3: "{{ project_params.CREATE_S3}}"
        ec2_instance_type: "{{ project_params.EC2_INSTANCE_TYPE}}"
        ami_id: "{{ project_params.AWS_AMI_ID}}"
        security_group: "{{ project_params.SECURITY_GROUP}}"
        subnet_id: "{{ project_params.SUBNET_ID}}"
        storage: "{{ project_params.AWS_STORAGE}}"
        storage_type: "{{ project_params.AWS_STORAGE_TYPE}}"
        key_name: "{{ project_params.KEY_NAME}}"

    open_api: "{{ project_params.OPENWEATHER_API_KEY }}"
