[Unit]
Description=Jenkins Agent
After=network.target

[Service]
User=jenkins
WorkingDirectory=/var/lib/jenkins
ExecStart=/usr/bin/java -jar /var/lib/jenkins/agent.jar -jnlpUrl http://{{ project.private_ip }}:8080/computer/{{ project.name }}/slave-agent.jnlp -secret {{ jenkins_agent_secret }} -workDir "/var/lib/jenkins"
Restart=always

[Install]
WantedBy=multi-user.target
