jenkins:
  systemMessage: "Jenkins configured as code for Weather Report Project!"
  numExecutors: 2

  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "{{ project.jenkins.pass }}"

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

  nodes:
    - permanent:
        name: "{{ project.name }}-agent"
        remoteFS: "/opt/jenkins"
        labelString: "app-vm"
        launcher:
          jnlp: {}
        numExecutors: 1
        mode: "NORMAL"
        retentionStrategy:
          always: {}

unclassified:
  location:
    url: "http://localhost:8080/"
  ansiColorMapName: "xterm"

jobs:
  - script: |
      pipelineJob('deploy_pipeline') {
        definition {
          cps {
            script("""
              pipeline{
                  agent any
                  options {
                      ansiColor('xterm')
                  }
                  stages {
                      stage('Install components') {
                          steps {
                              sh 'ansible-playbook -i inventory.yml app_execute.yml -t install_components'
                          }
                      }
                      stage('Deploy Docker containers') {
                          steps {
                              sh 'ansible-playbook -i inventory.yml app_execute.yml -t deploy_docker'
                          }
                      }
                  }
              }
            """)
            sandbox(true)
          }
        }
      }
  - script: |
      pipelineJob('run_fetcher') {
        definition {
          cps {
            script("""
              pipeline{
                  agent any
                  options {
                      ansiColor('xterm')
                  }
                  stages {
                      stage('Fetch the data') {
                          steps {
                              sh 'docker-compose run --rm fetch_app'
                          }
                      }
                      stage('Create report') {
                          steps {
                              sh 'docker-compose run --rm report_app'
                          }
                      }
                      stage('Send report to S3') {
                          steps {
                              sh 'docker-compose run --rm send_report'
                          }
                      }
                  }
                  triggers {
                      cron('H * * * *')
                  }
              }
            """)
            sandbox(true)
          }
        }
      }
